nav{
    .navbar-brand{
        img{
            margin-right: 1.5rem;
            width: 4rem;
        }
    }
    #navbarText{
        li a{
            margin-left: 1.5rem;
            text-decoration: none;
            color: black;
            padding: 8px;
        }
        .navbar-text{
            padding-right: 5.5rem;
            margin-right: 1rem;
            img{
                margin-right: 2rem;
                width: 3rem;
            }
            button{
                color: black;
                border: none;
                background: none;
            }
            ul {
                width: 250px;
                padding-right: 5rem;
                justify-content: center;
                align-items: center;
                text-align: left;
                li.nav-item {
                    width: 200px;
                    margin-bottom: 1rem;
                    &:hover{
                        background-color: grey;
                        border-radius: 5px;
                    }
                }
                
            }
        }
    }
}