.aside-container{
    background-color: #f8f9fa;
    margin-top: -1rem;
    margin-left: -1rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    width: 25vw;
    margin-bottom: -1rem;
    opacity: 150%;


    aside {
        width: 90%;
        height: 60vh;
        border: 1px solid #000000;
        margin-top: .5rem;
        font-size: 15px;
        ul{
            line-height: 3rem;
            
            li{
    
                list-style: none;
                a{
                    i{
                        padding-right: 1rem;
                        font-size:30px;
                        &:hover{
                             border-right: 1px solid black;
                        }
                    }
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: blue;
                        font-size: larger;
                    }
                }
    
            }
        }
    }
    
}

